* {
	box-sizing: border-box;
	margin: 0;
}


body {
  font
}

#hero {
	background-image: url(https://images.unsplash.com/photo-1610890716171-6b1bb98ffd09?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2062&q=80);
	height: 300px;
	background-size: cover;
	background-position: center;
}

main {
	max-width: 80vw;
	text-align: center;
	margin: 0 auto;
}

h2 {
	margin-top: 16px;
}
